<style>

h1{
    color: #eee;
    font-size: 28px;
    margin: 20;
    padding: 0;
    background-color: #333333;
    text-align: center;
}

h2{
    color: #333333;
    font-size: 24px;
    margin 0 auto;
    width: 30%;
}
Header {
    background-color: #333333;
    margin: 0;
    padding: 0;
    color: #eee;
    text-align: center;
}
body {
    background-color: #efeee7;
    font-family: Georgia, "Times New Roman", Times, Serif;
    color: #333333;
    margin: 0;
    padding: 0;
    margin-left: 5%;
    margin-right: 5%;
}

  a {
    color: #d21034;
  }

  /* @media screen and (min-width: 320px) and (max-width; 480px)
  {
    header-image {
          width: 320px;
          height: auto;
         }
         .project-image {
          flex-direction: column;
         }
  }

  @media screen and (min-width: 481px) and (max-width; 768px)
  {
    header-image {
      width: 481px;
      height: auto;
     }
     .project-image {
      flex-direction: column;
     }
  }

  @media screen and (min-width: 769px) and (max-width; 1024px)
  {
    header-image {
      width: 769px;
      height: auto;
     }
     .project-image {
      flex-direction: column;
     }
  }

  @media screen and (min-width: 1025px) and (max-width; 1200px)
  {
    header-image {
      width: 1025px;
      height: auto;
     }
     .project-image {
      flex-direction: column;
     }
  }  */

  /* .portfolio{
    display: grid;
    row-gap: 50px;
    flex-direction: column;
    height: 400px;
    width: 60%;
    align-items: baseline;
    align-content: flex-start;
    grid-template-columns: auto auto auto auto;
    justify-content: space-between;
  } */

  /* .contact{
    display: inline-block;
    float: left;
  }

  .project{
    font-weight: bold;
    font-size: xx-large;
  } */

  .img{
    height: 50px;
    width: 50px;
    margin: 10px;
    transition all 1s;
  }

  .project-image{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 50px;
    width: 50px;
  }

  .header-image{
    height: 50px;
    width: 50px;
  }

  li{
    list-style: none;
    display: inline-block;
  }

  img:hover {
    transform: scale(1.1);
  }