<style>
        html {
            font-size: 500px
            h1 {text-align: center;}
p {text-align: center;}
        }

        body {
            background-color: darkmagenta;
            color: Ivory;
            h1 {text-align: center;}
p {text-align: center;}
        }
    </style>